*{margin: 0px; padding: 0px; width: 100%; height: 100%;}

@media{

.frame {
  display: flex;
  background-image: url(https://s2.best-wallpaper.net/wallpaper/1920x1080/1803/Counter-Strike-Global-Offensive-CS-game_1920x1080.jpg);
  background-size: cover;
  min-width: 550px;
}
#frame1 {
  display: flex;
  flex-direction: column;
  width: 445px;
  height: auto;
  background-color: rgba(50,50,50,0.3);
  box-shadow: 20px 0px 30px 2px rgba(25,25,25,0.5);
}
#frame1_main_menu_frame {
  width: 445px;
  height: 520px;
  background-color: rgba(50,50,50,0.3);
}
#frame1_main_name {
  width: 445px;
  height: 100px;
  margin-left: 100px;
  margin-top: 120px;
  margin-bottom: 5px;
  cursor: pointer;
}
.frame1_main_list {
  width: 445px;
  height: 300px;
}
.frame1_list_name{
  width: 445px;
  height: auto;
  color: rgba(250,250,250,0.8);
}
.h1{
  margin-bottom: 10px;
}
.frame1_list1{
  width: 443px;
  height: 30px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0,0,0,1);
  transition: all 0.5s, color 0.3s;
}
.frame1_list1:hover{ color: rgba(250,250,250,0.5) }
.list_hover1:hover{
  box-shadow: 445px 0 0 0 rgba(250,250,250,0.5) inset;
}
.frame1_list2{
  width: 443px;
  height: 30px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0,0,0,1);
  transition: all 0.5s, color 0.3s;
}
.frame1_list2:hover{ color: rgba(250,250,250,0.5) }
.list_hover2:hover{
  box-shadow: 445px 0 0 0 rgba(250,250,250,0.5) inset;
}
.frame1_list3{
  width: 443px;
  height: 30px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0,0,0,1);
  transition: all 0.5s, color 0.3s;
}
.frame1_list3:hover{ color: rgba(250,250,250,0.5) }
.list_hover3:hover{
  box-shadow: 445px 0 0 0 rgba(250,250,250,0.5) inset;
}
.frame1_list4{
  width: 443px;
  height: 30px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0,0,0,1);
  transition: all 0.5s, color 0.3s;
}
.frame1_list4:hover{ color: rgba(250,250,250,0.5) }
.list_hover4:hover{
  box-shadow: 445px 0 0 0 rgba(250,250,250,0.5) inset;
}

.frame1_list_name2{
  width: 445px;
  height: auto;
  color: rgba(250,250,250,0.8);
}
.frame1_list5{
  width: 443px;
  height: 30px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0,0,0,1);
  transition: all 0.5s, color 0.3s;
}
.frame1_list5:hover{ color: rgba(250,250,250,0.5) }
.list_hover5:hover{
  box-shadow: 445px 0 0 0 rgba(250,250,250,0.5) inset;
}
.frame1_list6{
  width: 443px;
  height: 30px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0,0,0,1);
  transition: all 0.5s, color 0.3s;
}
.frame1_list6:hover{ color: rgba(250,250,250,0.5) }
.list_hover6:hover{
  box-shadow: 445px 0 0 0 rgba(250,250,250,0.5) inset;
}
#frame1_main_login_frame {
  width: 445px;
  height: 200px;
  background-color: rgba(50, 50, 50, 0.3);
}
#profile{
  width: 400px;
  height: 150px;
  margin-left: 20px;
}
#profile_img_frame{
  width: 110px;
  height: 110px;
  margin-left: 150px;
}
#profile_img{
  border-radius: 50%;
}

/*
이 코드는 프로필 css
 */

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  border: 2px solid rgba(0, 0, 0, 0) !important;
  margin: 0px;
  float: left;
  font-weight: bold;
}
  /*animation: blink 1s step-end infinite;*/
  /*-webkit-animation: blink 1s step-end infinite;*/
/*}*/
/*!* for Chrome, Safari *!*/
/*@-webkit-keyframes blink {*/
  /*0% {background-color: red;}*/
  /*50% {background-color: yellow;}*/
/*}*/
/* front pane, placed above back */
.front{
  z-index:2;
  /* for firefox 31 */
  transition: 1s;
  text-decoration: none;
  transform: rotateY(0deg);
  /*background:url('point.jpg') no-repeat;*/
  background-size:100% 100%;
  font-size: medium;
  text-align: center;
  color: yellow;
  /*border-radius: 5px;*/
  /*border: 1px rgba(0,0,0,1) solid;*/
}
.front { text-shadow: 0 0 .1em, 0 0 .3em; }
/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background:url('point.jpg') no-repeat;
  background-size:100% 100%;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 50px;
  height: 20px;
  /*border:1px solid lightgray;*/
}
/* flip speed goes here */
.flipper {
  transition: 0.6s;
  /* 하위요소에 3D 좌표값 지정 */
  transform-style: preserve-3d;
  position: relative;
}
/* hide back of pane during swap */
.front, .back{
  position: absolute;
  backface-visibility:hidden;
}

/* entire container, keeps perspective */
.flip-container2 {
  perspective: 1000px;
  border:2px solid rgba(0,0,0,0) !important;
  margin-left: 0px;
  float: left;
}

/* front pane, placed above back */
.front2{
  z-index:2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  /*background:url('point.jpg') no-repeat;*/
  background-size:100% 100%;
  font-size: medium;
  text-align: center;
  color: white;
  /*border-radius: 5px;*/
  /*border: 1px rgba(0,0,0,1) solid;*/
}
/* back, initially hidden pane */
.back2 {
  transform: rotateY(180deg);
  background:url('point.jpg') no-repeat;
  background-size:100% 100%;
  cursor: pointer;
}

/* flip the pane when hovered */
.flip-container2:hover .flipper2, .flip-container2.hover .flipper2 {
  transform: rotateY(180deg);
}

.flip-container2, .front2, .back2 {
  width: 50px;
  height: 20px;
  /*border:1px solid lightgray;*/
}
/* flip speed goes here */
.flipper2 {
  transition: 0.6s;
  /* 하위요소에 3D 좌표값 지정 */
  transform-style: preserve-3d;
  position: relative;
}
/* hide back of pane during swap */
.front2, .back2{
  position: absolute;
  backface-visibility:hidden;
}

#profile_point_info_frame{
  width: 130px;
  height: 30px;

}

/*.morphing{*/
  /*width: 200px;*/
  /*height: 150px;*/
  /*padding: 30px;*/
/*}*/
.frame2 {
  width: 100%;
  height: auto;
}
}

@media only screen (min-width: 1200px) and (max-width: 1599px){

.frame {
  display: flex;
  background-image: url(https://s2.best-wallpaper.net/wallpaper/1920x1080/1803/Counter-Strike-Global-Offensive-CS-game_1920x1080.jpg);
  background-size: cover;
  min-width: 550px;
}
#frame1 {
  display: flex;
  flex-direction: column;
  width: 445px;
  height: auto;
  background-color: rgba(50,50,50,0.3);
  box-shadow: 20px 0px 30px 2px rgba(25,25,25,0.5);
}
#frame1_main_menu_frame {
  width: 445px;
  height: 520px;
  background-color: rgba(50,50,50,0.3);
}
#frame1_main_name {
  width: 445px;
  height: 100px;
  margin-left: 100px;
  margin-top: 120px;
  margin-bottom: 5px;
  cursor: pointer;
}
.frame1_main_list {
  width: 445px;
  height: 300px;
}
.frame1_list_name{
  width: 445px;
  height: auto;
  color: rgba(250,250,250,0.8);
}
.h1{
  margin-bottom: 10px;
}
.frame1_list1{
  width: 443px;
  height: 30px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0,0,0,1);
  transition: all 0.5s, color 0.3s;
}
.frame1_list1:hover{ color: rgba(250,250,250,0.5) }
.list_hover1:hover{
  box-shadow: 445px 0 0 0 rgba(250,250,250,0.5) inset;
}
.frame1_list2{
  width: 443px;
  height: 30px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0,0,0,1);
  transition: all 0.5s, color 0.3s;
}
.frame1_list2:hover{ color: rgba(250,250,250,0.5) }
.list_hover2:hover{
  box-shadow: 445px 0 0 0 rgba(250,250,250,0.5) inset;
}
.frame1_list3{
  width: 443px;
  height: 30px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0,0,0,1);
  transition: all 0.5s, color 0.3s;
}
.frame1_list3:hover{ color: rgba(250,250,250,0.5) }
.list_hover3:hover{
  box-shadow: 445px 0 0 0 rgba(250,250,250,0.5) inset;
}
.frame1_list4{
  width: 443px;
  height: 30px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0,0,0,1);
  transition: all 0.5s, color 0.3s;
}
.frame1_list4:hover{ color: rgba(250,250,250,0.5) }
.list_hover4:hover{
  box-shadow: 445px 0 0 0 rgba(250,250,250,0.5) inset;
}

.frame1_list_name2{
  width: 445px;
  height: auto;
  color: rgba(250,250,250,0.8);
}
.frame1_list5{
  width: 443px;
  height: 30px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0,0,0,1);
  transition: all 0.5s, color 0.3s;
}
.frame1_list5:hover{ color: rgba(250,250,250,0.5) }
.list_hover5:hover{
  box-shadow: 445px 0 0 0 rgba(250,250,250,0.5) inset;
}
.frame1_list6{
  width: 443px;
  height: 30px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0,0,0,1);
  transition: all 0.5s, color 0.3s;
}
.frame1_list6:hover{ color: rgba(250,250,250,0.5) }
.list_hover6:hover{
  box-shadow: 445px 0 0 0 rgba(250,250,250,0.5) inset;
}
#frame1_main_login_frame {
  width: 445px;
  height: 200px;
  background-color: rgba(50, 50, 50, 0.3);
}
#profile{
  width: 400px;
  height: 150px;
  margin-left: 20px;
}
#profile_img_frame{
  width: 110px;
  height: 110px;
  margin-left: 150px;
}
#profile_img{
  border-radius: 50%;
}

/*
이 코드는 프로필 css
 */

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  border: 2px solid rgba(0, 0, 0, 0) !important;
  margin: 0px;
  float: left;
  font-weight: bold;
}
  /*animation: blink 1s step-end infinite;*/
  /*-webkit-animation: blink 1s step-end infinite;*/
/*}*/
/*!* for Chrome, Safari *!*/
/*@-webkit-keyframes blink {*/
  /*0% {background-color: red;}*/
  /*50% {background-color: yellow;}*/
/*}*/
/* front pane, placed above back */
.front{
  z-index:2;
  /* for firefox 31 */
  transition: 1s;
  text-decoration: none;
  transform: rotateY(0deg);
  /*background:url('point.jpg') no-repeat;*/
  background-size:100% 100%;
  font-size: medium;
  text-align: center;
  color: yellow;
  /*border-radius: 5px;*/
  /*border: 1px rgba(0,0,0,1) solid;*/
}
.front { text-shadow: 0 0 .1em, 0 0 .3em; }
/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background:url('point.jpg') no-repeat;
  background-size:100% 100%;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 50px;
  height: 20px;
  /*border:1px solid lightgray;*/
}
/* flip speed goes here */
.flipper {
  transition: 0.6s;
  /* 하위요소에 3D 좌표값 지정 */
  transform-style: preserve-3d;
  position: relative;
}
/* hide back of pane during swap */
.front, .back{
  position: absolute;
  backface-visibility:hidden;
}

/* entire container, keeps perspective */
.flip-container2 {
  perspective: 1000px;
  border:2px solid rgba(0,0,0,0) !important;
  margin-left: 0px;
  float: left;
}

/* front pane, placed above back */
.front2{
  z-index:2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  /*background:url('point.jpg') no-repeat;*/
  background-size:100% 100%;
  font-size: medium;
  text-align: center;
  color: white;
  /*border-radius: 5px;*/
  /*border: 1px rgba(0,0,0,1) solid;*/
}
/* back, initially hidden pane */
.back2 {
  transform: rotateY(180deg);
  background:url('point.jpg') no-repeat;
  background-size:100% 100%;
  cursor: pointer;
}

/* flip the pane when hovered */
.flip-container2:hover .flipper2, .flip-container2.hover .flipper2 {
  transform: rotateY(180deg);
}

.flip-container2, .front2, .back2 {
  width: 50px;
  height: 20px;
  /*border:1px solid lightgray;*/
}
/* flip speed goes here */
.flipper2 {
  transition: 0.6s;
  /* 하위요소에 3D 좌표값 지정 */
  transform-style: preserve-3d;
  position: relative;
}
/* hide back of pane during swap */
.front2, .back2{
  position: absolute;
  backface-visibility:hidden;
}

#profile_point_info_frame{
  width: 130px;
  height: 30px;

}

/*.morphing{*/
  /*width: 200px;*/
  /*height: 150px;*/
  /*padding: 30px;*/
/*}*/
.frame2 {
  width: 100%;
  height: auto;
}
}

@media (min-width: 1600px) and (max-width: 1920px){

.frame {
  display: flex;
  background-image: url(https://s2.best-wallpaper.net/wallpaper/1920x1080/1803/Counter-Strike-Global-Offensive-CS-game_1920x1080.jpg);
  background-size: cover;
  min-width: 550px;
}
#frame1 {
  display: flex;
  flex-direction: column;
  width: 445px;
  height: auto;
  background-color: rgba(50,50,50,0.3);
  box-shadow: 20px 0px 30px 2px rgba(25,25,25,0.5);
}
#frame1_main_menu_frame {
  width: 445px;
  height: 520px;
  background-color: rgba(50,50,50,0.3);
}
#frame1_main_name {
  width: 600px;
  height: 200px;
  margin-left: 100px;
  margin-top: 120px;
  margin-bottom: 5px;
  cursor: pointer;
}
.frame1_main_list {
  width: 445px;
  height: 300px;
}
.frame1_list_name{
  width: 445px;
  height: auto;
  color: rgba(250,250,250,0.8);
}
.h1{
  margin-bottom: 10px;
}
.frame1_list1{
  width: 443px;
  height: 30px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0,0,0,1);
  transition: all 0.5s, color 0.3s;
}
.frame1_list1:hover{ color: rgba(250,250,250,0.5) }
.list_hover1:hover{
  box-shadow: 445px 0 0 0 rgba(250,250,250,0.5) inset;
}
.frame1_list2{
  width: 443px;
  height: 30px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0,0,0,1);
  transition: all 0.5s, color 0.3s;
}
.frame1_list2:hover{ color: rgba(250,250,250,0.5) }
.list_hover2:hover{
  box-shadow: 445px 0 0 0 rgba(250,250,250,0.5) inset;
}
.frame1_list3{
  width: 443px;
  height: 30px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0,0,0,1);
  transition: all 0.5s, color 0.3s;
}
.frame1_list3:hover{ color: rgba(250,250,250,0.5) }
.list_hover3:hover{
  box-shadow: 445px 0 0 0 rgba(250,250,250,0.5) inset;
}
.frame1_list4{
  width: 443px;
  height: 30px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0,0,0,1);
  transition: all 0.5s, color 0.3s;
}
.frame1_list4:hover{ color: rgba(250,250,250,0.5) }
.list_hover4:hover{
  box-shadow: 445px 0 0 0 rgba(250,250,250,0.5) inset;
}

.frame1_list_name2{
  width: 445px;
  height: auto;
  color: rgba(250,250,250,0.8);
}
.frame1_list5{
  width: 443px;
  height: 30px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0,0,0,1);
  transition: all 0.5s, color 0.3s;
}
.frame1_list5:hover{ color: rgba(250,250,250,0.5) }
.list_hover5:hover{
  box-shadow: 445px 0 0 0 rgba(250,250,250,0.5) inset;
}
.frame1_list6{
  width: 443px;
  height: 30px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0,0,0,1);
  transition: all 0.5s, color 0.3s;
}
.frame1_list6:hover{ color: rgba(250,250,250,0.5) }
.list_hover6:hover{
  box-shadow: 445px 0 0 0 rgba(250,250,250,0.5) inset;
}
#frame1_main_login_frame {
  width: 445px;
  height: 200px;
  background-color: rgba(50, 50, 50, 0.3);
}
#profile{
  width: 400px;
  height: 150px;
  margin-left: 20px;
  margin-top: 130px;
}
#profile_img_frame{
  width: 110px;
  height: 110px;
  margin-left: 150px;
}
#profile_img{
  border-radius: 50%;
}

/*
이 코드는 프로필 css
 */

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  border: 2px solid rgba(0, 0, 0, 0) !important;
  margin: 0px;
  float: left;
  font-weight: bold;
}
  /*animation: blink 1s step-end infinite;*/
  /*-webkit-animation: blink 1s step-end infinite;*/
/*}*/
/*!* for Chrome, Safari *!*/
/*@-webkit-keyframes blink {*/
  /*0% {background-color: red;}*/
  /*50% {background-color: yellow;}*/
/*}*/
/* front pane, placed above back */
.front{
  z-index:2;
  /* for firefox 31 */
  transition: 1s;
  text-decoration: none;
  transform: rotateY(0deg);
  /*background:url('point.jpg') no-repeat;*/
  background-size:100% 100%;
  font-size: medium;
  text-align: center;
  color: yellow;
  /*border-radius: 5px;*/
  /*border: 1px rgba(0,0,0,1) solid;*/
}
.front { text-shadow: 0 0 .1em, 0 0 .3em; }
/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background:url('point.jpg') no-repeat;
  background-size:100% 100%;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 50px;
  height: 20px;
  /*border:1px solid lightgray;*/
}
/* flip speed goes here */
.flipper {
  transition: 0.6s;
  /* 하위요소에 3D 좌표값 지정 */
  transform-style: preserve-3d;
  position: relative;
}
/* hide back of pane during swap */
.front, .back{
  position: absolute;
  backface-visibility:hidden;
}

/* entire container, keeps perspective */
.flip-container2 {
  perspective: 1000px;
  border:2px solid rgba(0,0,0,0) !important;
  margin-left: 0px;
  float: left;
}

/* front pane, placed above back */
.front2{
  z-index:2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  /*background:url('point.jpg') no-repeat;*/
  background-size:100% 100%;
  font-size: medium;
  text-align: center;
  color: white;
  /*border-radius: 5px;*/
  /*border: 1px rgba(0,0,0,1) solid;*/
}
/* back, initially hidden pane */
.back2 {
  transform: rotateY(180deg);
  background:url('point.jpg') no-repeat;
  background-size:100% 100%;
  cursor: pointer;
}

/* flip the pane when hovered */
.flip-container2:hover .flipper2, .flip-container2.hover .flipper2 {
  transform: rotateY(180deg);
}

.flip-container2, .front2, .back2 {
  width: 50px;
  height: 20px;
  /*border:1px solid lightgray;*/
}
/* flip speed goes here */
.flipper2 {
  transition: 0.6s;
  /* 하위요소에 3D 좌표값 지정 */
  transform-style: preserve-3d;
  position: relative;
}
/* hide back of pane during swap */
.front2, .back2{
  position: absolute;
  backface-visibility:hidden;
}

#profile_point_info_frame{
  width: 130px;
  height: 30px;

}

/*.morphing{*/
  /*width: 200px;*/
  /*height: 150px;*/
  /*padding: 30px;*/
/*}*/
.frame2 {
  width: 100%;
  height: auto;
}
}
